#header {
  height: 40px;
  display: flex;
  align-items: center;
  background: black;

  .header-list {
    margin: 0;
    list-style-type: none;

    li {
      float: left;
      margin-right: 100px;
      color: white;
      padding: 11px;

      &:hover {
        background: #808080;
      }
    }
  }
}